@media(min-width:20em) and (max-width:47.99em){
    h2{
        font-size:30px
    }
}


@media(max-width:47.99em){
    .wrapper{
        height:100%;
        min-height:100%
    }
    .collapse:checked ~ .wrapper{
        height:auto
    }
}