

body  {
    background-color: #808080;
    font-family: 'Finger Paint';
}

h1, h2, h3   {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    margin: 25px;
    text-align: center;
}

p    {
    color:  #1a3300;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
}
    
.picture {
            float: right;
}
            
#singer {
    background-color: green;
    color: white;
    border: 0px solid red;
    padding: 20px;
    margin: 20px;
    text-align: center;
} 

table {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 30px;
}

th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    background-color:  #001a00;
    color: white;
}

td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color:  #008000;
    color:white;
}         

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001a00;
  }
  
  .menu-item  {
      display: inline-block;
      color: white;
      background-color:#008000; 
  }
  
  .menta {
    display: block;
    color: white;
    text-align: left;
    padding: 16px;
    text-decoration: none;
    background-color:#008000;
  }
  
  .menu-item :hover {
    background-color: #111111;
  }

  .menta :link {
    color: black;
    background-color:  #a31aff;
    text-decoration: underline;
    display: inline-block;
  }
  
  .menta :visited {
    color: #1a3300;
    background-color: black;
    text-decoration: none;
    display: inline-block;
  }
  
  .menta :hover {
    color: #00ff40;
    background-color: transparent;
    text-decoration: underline overline;
    display: inline-block;
  }
  
  a:active {
    color: #0000ff;
    background-color: transparent;
    text-decoration: overline;
    display: inline-block;
  }
  a :visited {
    color: #1a3300;
    background-color: black;
    text-decoration: none;
    display: inline-block;
  }
  
  a :hover {
    color: #00ff40;
    background-color: transparent;
    text-decoration: underline overline;
    display: inline-block;
  }

  div {
    background-color: #1a3300;
  }
 
  span {
     color: #ff3300;
  }