

body  {
    background-color: white;
    font-family: 'Finger Paint';
}

h1, h2, h3   {
    color: black;
    padding: 25px;
    margin: 25px;
    text-align: center;
}

p    {
    color:  black;
    font-size: 100%;
    }
    
.picture { /* Align first photo */
            float: right;
}
            
#singer {/* Mark text in 3 section */
    background-color: #004d66;
    color: white;
    border: 0px solid red;
    padding: 20px;
    margin: 20px;
    text-align: center;
} 

table {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 30px;
}

th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    background-color:  #001a00;
    color: white;
}

td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color:  #008000;
    color:white;
}         

  .menu {/* How to look tag li */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
   
  .menu-item  {/* How to look box menu */
      display: inline-block;
      color: white;
      background-color:black; 
  }
    
  .menu-item :hover {
    background-color:#008000;
  }

  .menta {/* Menta is class to menu box */
    display: block;
    color: white;
    text-align: left;
    padding: 16px;
    text-decoration: none;
    background-color: black;
  }
   
   .menta :link {/* Menta is class to menu box */
    color: white;
    background-color:  #a31aff;
    text-decoration: underline;
    display: inline-block;
  }
  
  .menta :visited {/* Menta is class to menu box */
    color: #1a3300;
    background-color: black;
    text-decoration: none;
    display: inline-block;
  }
  
  .menta :hover {/* Menta is class to menu box */
    color: #00ff40;
    background-color: transparent;
    text-decoration: underline overline;
    display: inline-block;
  }
   .lipa :link {/* Lipa is class to every links */
    color: black;
    background-color:  #a31aff;
    text-decoration: underline;
    display: inline-block;
  } 
   
  .lipa :active {/* Lipa is class to every links */
    color: #0000ff;
    background-color: transparent;
    text-decoration: overline;
    display: inline-block;
  }
  .lipa :visited {/* Lipa is class to every links */
    color: #1a3300;
    background-color: black;
    text-decoration: none;
    display: inline-block;
  }
  
  .lipa :hover {/* Lipa is class to every links */
    color: #00ff40;
    background-color: transparent;
    text-decoration: underline overline;
    display: inline-block;
  }
 
  .fa-guitar {/* Emojii */
      color:white;
  }

  .fa-award {/* Emojii */
      color: #001a00;
  }
  
   .fa-music {/* Emojii */
       color:black;
   }
   
   .fa-compact-disc {/* Emojii */
       color: black;
   }

   .spanquestion {/* Stiling question/anket */
    color:black; 
    background-color:#33cccc;
    margin: 5px;
    padding: 5px;
   }

   
   .jumb1 { /* jumb class is jumbotron box section */
       background-color:#ffb3b3;
       font-size: auto;
   }

   .jumb2 {/* jumb class is jumbotron box section */
    background-color:#ff6600;
    font-size: auto;
    }

    .jumb3 {/* jumb class is jumbotron box section */
        background-color:#33ccff;
        font-size: auto;
    }

    .jumb4 {/* jumb class is jumbotron box section */
        background-color:#cc66ff;          
        font-size: auto;
    }

    .jumb5 {/* jumb class is jumbotron box section */
        background-color: #99cc00;
        font-size: auto;
    }

    .jumb6 {/* jumb class is jumbotron box section */
        background-color: #bf4040;
        font-size: auto;
    }

    .jumb7 {/* jumb class is jumbotron box section */
        text-align: center; 
        color: #805500; 
        background-color: #ffaa00
    }

    
    * {/* Box with Elvi`s photos */
        box-sizing: border-box;
      }
      
      .img-container {/* Box with Elvi`s photos */
        float: left;
        width: 33.33%;
        padding: 5px;
      }

      .img-container > img {/* Box with Elvi`s photos */
        max-height: 634px;
      }

      .clearfix::after {/* Box with Elvi`s photos */
        content: "";
        clear: both;
        display: table;
      }

      .ramka { /* class to log in games */
        margin: 20px; 
        padding: 20px;
      }
  