*, html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}


.fixed-bg {
  background-image: url("../img/SAD.png");
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

a {
	text-decoration: none;
    color: white;  
}


.textBar {
  list-style: none;
  display: inline-block;
  padding-top: 40px;
  padding-right: 25px;
  position: relative;
}

.right {
  text-align: center;
  position: absolute;
}


.boxInfo {
  background-color: white;
  color: black;
  height:100vh;
  text-align: center;
  position: relative;
}

.boxText {
  font-size: 50px;
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}



.boxInfo3 {
  background-color: red;
  height:100vh;
  text-align: center;
  position: relative;
  background-image: url("../img/tax.jpg");
  overflow-x: hidden;
  background-position: bottom;
  background-size: cover;
  padding: 150px 0;
  background-repeat: no-repeat;
  background-blend-mode:multiply;
}

.boxText3 {
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: 18px; 
}


.main-nav {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: hsl(100, 0%, 12%);
  position: fixed;
  list-style: none;
  margin: 0;
  z-index: 100;
}
.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a.undLine {
  margin: 32px;
  border-radius: 5px;
  color: #fff;
	display: block;
	padding: 1px;
	text-decoration: none;
}
.main-nav .logo {
  background-repeat: no-repeat;
  height: 100px;
  margin-left: 150px;
  width: 250px;
}
.main-nav  > li a.undLine:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #8B0000;
  transition: 500ms; 
}

.main-nav > li a:hover:after {
  width: 100%; 
}

.colWor{
  color:#8B0000;
}

.item-1, 
.item-2 
 {
	position: absolute;
  display: block;
	top: 2em;
  margin-top: 25%;
  width: 60%;
  font-size: 25px;
  font-size: 2em;
  opacity: 1;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}


@keyframes anim-1 {
	0%, 8.3% { right: -100%; opacity: 0; }
  8.3%,25% { right: 25%; opacity: 1; }
  33.33%, 100% { right: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { right: -100%; opacity: 0; }
  41.63%, 58.29% { right: 25%; opacity: 1; }
  66.66%, 100% { right: 110%; opacity: 0; }
}

.btnStyle {
  color:white;
  width: 150px;
  padding: 10px;
  background-color: MediumSeaGreen;
  font-size: 15px;
  border: none;
}

.btnStyle:hover {
  color:MediumSeaGreen;
  background-color: white;
  border: 2px solid MediumSeaGreen;
}


.boxInfo2 {
  background-color: #ffe6e6;
  color: black;
  height:100vh;
  position: relative;  
}


.boxText2 {
  font-family: 'Sofia';
  
} 

.styleH2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 100px;
}


.col {
  float: left;
  width: 50%;
  text-align: center;
  line-height: 0.9;
  font-size: 15px;
  padding: 15px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

div.borRed {
 border-bottom: 3px solid red;
}

div.redBor {
 border-right: 3px solid red;
} 


div.tex1 {
  margin-left: 25%;
}

div.tex2 {
  margin-right: 25%;
}

div.tex3 {
  margin-left: 25%;
}

div.tex4 {
  margin-right: 25%;
}

div.tex5 {
  text-align: center;
  margin-top: 50px;
}


.suit {
  width: 10%;
}


.users {
  width: 8%;
}



.human {
  width: 10%;
}

.law {
  width: 10%;
}





.boxInfo4 {
  position: relative;
  background-color: white;
  color: black;
  height:1200px;
  margin: 0;
  padding: 0;
}

.boxText4 {
  font-size: 25px;
  font-family: 'Sofia';
}

.mapStyle {
  width: 100%;
  height:470px;
  margin-left: 0;
}

.mapStyle:hover {
  cursor: pointer;
}

.texAlign {
  text-align: center;
  padding: 15px;
}

/* The container */
.container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 15px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 3px solid MediumSeaGreen;
  background-color: white;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  cursor: pointer;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: MediumSeaGreen;
  
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 10%;
	left: 13%;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white; 
}

.formBttn {
	background-color: MediumSeaGreen;
  color: white;
  width: 150px;
  padding: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: 10px;
}

.formBttn:hover {
	background-color: white;
  color: MediumSeaGreen;
}

input[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid MediumSeaGreen;
  margin-left: 15px;
}

div.boxForm {
  width:auto;
  border: 1px solid white;
  background-color: white;
  text-align: start;
}

h1.zoomLetter {
  font-size: 25px;
  text-align: start;
  margin-top: 10px;
  margin-left: 15px;
}

div.boxContacts {
  border: 1px solid MediumSeaGreen;
  background-color: MediumSeaGreen;
  color: white;
  padding: 15px;
  font-size: 15px;
  height: 269.5px;
  line-height: 1.5;
  margin-left: -5%;
  width: 50%;
}

.fa-map-marker-alt .fa-phone .fa-envelope{
  color: white;
}

.costum {
	width: 100%;
  padding: 12px 20px;
  margin-left: 15px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid MediumSeaGreen;
}


  .foot {
  width:100%;
  height: 70px;
  text-align: center;
  bottom: 0;
  position: absolute;
}

.footStyle {
  background-color:#8B0000;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 20%;
  font-family: 'Times New Roman', Times, serif;
  font-size:15px;
  }


  .posiT {
    margin-left: 25%;
  }
  

  .heart {
    background-image: url("../img/heart.png");
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
}



div.colBox {
	float: left;
    text-align: center;
  	line-height: 0.9;
  	font-size: 15px;
    padding: 15px;
    margin-left: 150px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


#f1_container {
  position: relative;
  margin: 0;
  width: 400px;
  height: 360px;
  z-index: 1;
  margin-top: 20px;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  max-width: 500px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  box-shadow: 0 0 20px grey;
  border-radius: 20%;
  border: 2px solid white;
  border-radius: 12px;
  margin-top: 30px;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: 0 0 20px grey;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 12px;
  
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: black;
  text-align: center;
  background-color: white;
  border: 2px solid white;
  border-radius: 12px;
}

.paragrStyle {
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paragrStyle3 {
	position: absolute;
	top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animBtn {
  position: absolute;
  width: 35%;
  top: 80%;
  left: 50%;
  transform: translate(-80%, -50%);
  color:white;
  padding: 10px;
  background-color: MediumSeaGreen;
  font-size: 15px;
  border: none;

}

.animBtn:hover {
  color:MediumSeaGreen;
  background-color: white;
  border: 1px solid MediumSeaGreen;

}

.positH {
  position: absolute;
  margin-bottom: 10%;
}

.katinar {
	position: absolute;
	top: 25%;
  left: 50%;
  transform: translate(-50%, 25%);
  width: 10%;
}

.calculator {
	position: absolute;
	top: 25%;
  left: 50%;
  transform: translate(-50%, 25%);
  width: 15%;
}

.consult {
	position: absolute;
	top: 25%;
  left: 50%;
  transform: translate(-50%, 25%);
  width: 15%;
}

.money {
	position: absolute;
	top: 25%;
  left: 50%;
  transform: translate(-50%, 25%);
  width: 25%;
}
.worker {
	position: absolute;
	top: 25%;
  left: 50%;
  transform: translate(-50%, 25%);
  width: 30%;
}

.clock {
	position: absolute;
	top: 25%;
  left: 50%;
  transform: translate(-50%, 25%);
  width: 15%;
}

.btnSide {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnSide2 {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 250%);
}

.priceStyle {
  color:white;
  width: 70px;
  padding: 10px;
  background-color: MediumSeaGreen;
  font-size: 15px;
  border: none;
  
}

.priceStyle:hover {
  color:MediumSeaGreen;
  background-color: white;
  border: 2px solid MediumSeaGreen;
}

.infoStyle {
  color:MediumSeaGreen;
  width: 120px;
  padding: 10px;
  background-color: white;
  font-size: 15px;
  border: 1px solid MediumSeaGreen;
  
}

.infoStyle:hover {
  color: white;
  background-color: MediumSeaGreen;
  border: 2px solid MediumSeaGreen;
}

.styleH2card {
  font-size: 20px;
  text-align: center;
  padding:25px;
  border-bottom: 1px solid grey;
}






/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.right2 {
  margin-left: 40%;
}
.main2-nav2 a.undLine2 {
  margin: 32px;
  border-radius: 5px;
  color: #fff;
	display: block;
	padding: 1px;
	text-decoration: none;
}
.main2-nav2 .logo2 {
  background-repeat: no-repeat;
  height: 100px;
  margin-left: 100px;
  width: 250px;
  top: 0;
  position: absolute;
}
.main2-nav2  > li a.undLine2:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #8B0000;
  transition: 500ms; 
  
}

.main2-nav2 > li a:hover:after {
  width: 100%; 
}

.colWor{
  color:#8B0000;
}

.navbar {
  overflow: hidden;
  background-color: black;
  position: absolute;
  bottom: 70px;
  width: 100%;
  z-index: 100;
  height: 100px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.main2-nav2 {
  list-style: none;
 }

 .main2-nav2 li:first-child {
  margin-right: auto;
}




